
@model IEnumerable<WebApplication3.Entitiy.Category>



<ul class="list-group">
    <li class="list-group-item">
        <a href="/Home/List>
            <i class="fas fa-chevron-double-right" style="font-size: 17px;"></i>
            Tüm Kategoriler

        </a>
    </li>
    
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a href="/Home/List/@item.Id">
                <i class="fas fa-chevron-double-right" style="font-size: 17px;"></i>
                @item.Name
            </a>
        </li>
    }
    
    
</ul>
