
@model IEnumerable<WebApplication3.Entitiy.Category>

@{var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}


<ul class="list-group">

    <a href="/Home/List"  class ="list-group-item ">
        <i class="fas fa-chevron-double-right"  style="font-size: 17px;"></i>
        Kategoriler
    </a>


    @foreach (var item in Model)
    {
        if (selectedCategory != null)
        {
            if (item.Id == int.Parse(selectedCategory.ToString())) // soldaki bardan seçilen kategoriyi mavi renkli yapıyoruz
            {
                //seçilen kategori ile route id si birbirine eşit

                <a href="/Home/List/@item.Id" class="list-group-item active">
                    <i class="fas fa-chevron-double-right" style="font-size: 17px;"></i>
                    @item.Name
                </a>

            }
            else
            {
                <a href="/Home/List/@item.Id" class="list-group-item">
                    <i class="fas fa-chevron-double-right" style="font-size: 17px;"></i>
                    @item.Name
                </a>


            }
        }
        else
        {
            <a href="/Home/List/@item.Id" class="list-group-item">
                <i class="fas fa-chevron-double-right" style="font-size: 17px;"></i>
                @item.Name
            </a>

        }
    }


</ul>
